.postsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.blogHeaderWarning {
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 850px) {
  .postsDiv {
    grid-template-columns: 1fr;
  }
}