.commentForm {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.commentForm textarea {
  padding: 0.5rem;
  width: 30rem;
  max-height: auto;
  min-height: 5rem;
  resize: vertical;
  border: solid 1px rgb(200, 200, 200);
  border-radius: 0.8rem;
  background-color: white;
  gap: 1rem;
  padding: 0.8rem;
  box-shadow: 0px 10px 41px -23px rgba(71,71,71,0.1);
  margin-bottom: 1rem;
}

.commentForm button {
  width: 5rem;
  margin-left: auto;
  background-color: var(--header-background);
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 0.4rem;
  border: none;
}
