.commentForm {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.commentForm textarea {
  padding: 0.5rem;
  width: 25rem;
  max-height: auto;
  min-height: 5rem;
  resize: vertical;
  border: solid 1px black;
  background-color: white;
  gap: 1rem;
  padding: 0.8rem;
  box-shadow: 10px 10px 0px 0px rgb(0, 0, 0);
  margin-bottom: 1rem;
}

.commentForm button {
  width: 5rem;
  margin-left: auto;
}