footer {
  margin-top: auto;
  height: 3rem;
  background-color: rgb(40, 39, 39);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

@media (max-width: 650px) {
  footer {
    width: 100%;
  }
}